body {
    background-color: lightgrey;
    width: 500px;
    height: 500px;
    margin: 0;
    padding: 0;
}

.view {
    background-color: lightcoral;
    width: 10vw;
    height: 10vh;
}

.porcentagem {
    background-color: lightgreen;
    width: 50%;
    height: 50%;
}