h2, h3 {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    border: 10px black solid;
}

h2 {
    background-color: lightcoral;
    box-sizing: border-box;
}

h3 {
    background-color: lightgreen;
}